
Desktop/ClientApp/bin/

Desktop/ClientApp/obj/

Desktop/.vs/

Desktop/Dataedo.LicenseFile/bin/

Desktop/Dataedo.LicenseFile/obj/

Desktop/LicenseHelperLibrary/bin/

Desktop/LicenseHelperLibrary/obj/

Web/.vs/

Web/Backend/bin/

Web/Backend/obj/
